@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Đổi mật khẩu";
}
@model EduQuiz.Models.EF.User
<div class="content" style="padding:0">
    <div class="row" style="margin:0">
        <div class="left-wrapper">
        </div>
        <div class="center-wrapper">
            <h2 class="title-setting">Cài đặt</h2>
            <partial name="_TabsSetting"></partial>
            <div class="row" style="margin:8px 0 0 0">
                <div class="col-md-6 mt-3" style="padding:0 .5rem 0 0">
                    <div class="card card-user">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="card-title">Thông tin người dùng</h5>
                            <button id="savepass" type="submit" class="btn">Lưu</button>
                        </div>
                        <div class="card-body">
                            <form id="changeInfo">
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Mật khẩu cũ</label>
                                            <input id="oldpass" type="password" readonly="@(Model.Password == "" ? true :false)" class="input-field" value="">
                                            <button id="checkoldpass" type="button" class="btn-checkpass">
                                                <i class="fa fa-eye icon-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Mật khẩu mới</label>
                                            <input id="newpass" type="password" readonly="@(Model.Password == "" ? true :false)" class="input-field" value="">
                                            <button id="checknewpass" type="button" class="btn-checkpass">
                                                <i class="fa fa-eye icon-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Nhập lại mật khẩu mới</label>
                                            <input id="renewpass" type="password" readonly="@(Model.Password == "" ? true :false)" class="input-field" value="">
                                            <button id="checkrenewpass" type="button" class="btn-checkpass">
                                                <i class="fa fa-eye icon-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var userid = `@Model.Id`;

            function initializeTippyAndTogglePassword(selector, passwordFieldId) {
                var tippyInstance = tippy(selector, {
                    content: 'Hiển thị mật khẩu',
                });

                $(selector).on('click', function () {
                    var passwordField = $(passwordFieldId);
                    var icon = $(this).find('i');

                    if (passwordField.attr('type') === 'password') {
                        passwordField.attr('type', 'text');  // Hiển thị mật khẩu
                        icon.removeClass('fa-eye').addClass('fa-eye-slash');  // Đổi icon thành eye-slash
                        tippyInstance[0].setContent('Ẩn mật khẩu'); // Đổi nội dung tooltip
                    } else {
                        passwordField.attr('type', 'password');  // Ẩn mật khẩu
                        icon.removeClass('fa-eye-slash').addClass('fa-eye');  // Đổi icon thành eye
                        tippyInstance[0].setContent('Hiển thị mật khẩu'); // Đổi nội dung tooltip
                    }
                });
            }
            initializeTippyAndTogglePassword('#checkoldpass', '#oldpass');
            initializeTippyAndTogglePassword('#checknewpass', '#newpass');
            initializeTippyAndTogglePassword('#checkrenewpass', '#renewpass');

            $("#savepass").click(function () {
                var oldpass = $("#oldpass").val();
                var newpass = $("#newpass").val();
                var renewpass = $("#renewpass").val();
                if (oldpass == "" || newpass == "" || renewpass == ""){
                    openToast('warning', 'Lỗi', "Vui lòng nhập đầy đủ thông tin", 2500);
                    return;
                }
                var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/;
                if (!passwordPattern.test(newpass)) {
                    openToast('warning', 'Lỗi', 'Mật khẩu mới phải dài ít nhất 6 ký tự và bao gồm cả chữ và số', 2500);
                    return;
                }
                if (newpass != renewpass){
                    openToast('warning', 'Lỗi', 'Mật khẩu không khớp', 2500);
                    return;
                }
                $.ajax({
                    url: '@Url.Action("SavePass", "HomeDashboard")',
                    type: 'POST',
                    data: {
                        userid: userid,
                        oldpass: oldpass,
                        newpass: newpass
                    },
                    success: function (response) {
                        if (response.redirectUrl) {
                            Swal.fire({
                                title: 'Hết phiên đăng nhập',
                                text: 'Vui lòng đăng nhập lại',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = response.redirectUrl;
                                }
                            });
                        } else {
                            if (response.result == "PASS") {
                                openToast('success', "Thành công", response.msg, 2500);
                                $("#oldpass").val("");
                                $("#newpass").val("");
                                $("#renewpass").val("");
                            } else {
                                openToast('warning', 'Lỗi', response.msg, 2500);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        openToast('warning', 'Có lỗi xảy ra', response.msg, 2500);
                    }
                });
            })
            
        })
    </script>
}