@{
    Layout = "_LayoutUser";
    ViewBag.Title = "Trang giới thiệu";
}
<link href="~/src/css/profile.css" rel="stylesheet" />
<div class="content" style="padding:0;margin-top:63px;">
    <div class="viewPage__Wrapper">
        <div class="userprofile__header">
            <header class="userprofile-header__Wrapper">
                <img class="userprofile-header__Img" src="~/src/img/banner-userprofile.png" />
            </header>
            <div class="userprofile__headerLower">
                <div class="verified-profile-section__Container">
                    <a href="#" class="verified-profile-image" style="background: url(/src/img/profiles/ce146eab-cfa3-4bf9-9e55-6f206792a675_user.jpg) 100% center / cover no-repeat rgb(242, 242, 242);"></a>
                    <div class="user-profile-username__Content">
                        <div class="user-profile-username">
                            MonkeyD.Luffy
                            <span class="verified-icon">
                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M20.2871871,-5.82867088e-15 L22.2944792,5.09764226 L27.7128129,4.28718708 L26.9023577,9.70552082 L32,11.7128129 L28.5889584,16 L32,20.2871871 L26.9023577,22.2944792 L27.7128129,27.7128129 L22.2944792,26.9023577 L20.2871871,32 L16,28.5889584 L11.7128129,32 L9.70552082,26.9023577 L4.28718708,27.7128129 L5.09764226,22.2944792 L-1.90403249e-14,20.2871871 L3.41104165,16 L-1.90403249e-14,11.7128129 L5.09764226,9.70552082 L4.28718708,4.28718708 L9.70552082,5.09764226 L11.7128129,-5.82867088e-15 L16,3.41104165 L20.2871871,-5.82867088e-15 Z M22.2625692,11.3520913 C21.6798272,10.8340984 20.8156488,10.8347259 20.2352482,11.3207259 L20.0702065,11.4810538 L14.1882667,18.0933284 L11.8672071,15.7737353 L11.6930355,15.6233756 C11.0850975,15.1722966 10.2223735,15.2224164 9.67105467,15.7737353 C9.11973581,16.3250542 9.06961591,17.1877781 9.52069498,17.7957161 L9.67105467,17.9698877 L13.1583007,21.4571338 L13.3241297,21.6013036 C13.8957566,22.0316344 14.6929553,22.0126789 15.2433599,21.5583183 L15.4170396,21.3907577 L22.3915317,13.544454 L22.5314042,13.3617535 C22.9460056,12.7283763 22.8453113,11.8700843 22.2625692,11.3520913 Z" style="fill: rgb(19, 104, 206);"></path></svg>
                            </span>
                        </div>
                        <a href="#" class="user-profile-username__Intro">monkeyd.luffy@gmail.com</a>
                    </div>
                    <div class="user-profile-header__Wrapper">
                        <div class="user-profile-statistics">
                            <div class="profile-statistic__Wrapper">
                                <div class="profile-statistic__Title">
                                    EduQuiz
                                </div>
                                <div class="profile-statistic__Value">10</div>
                            </div>
                        </div>
                        <div class="user-profile-statistics">
                            <div class="profile-statistic__Wrapper">
                                <div class="profile-statistic__Title">
                                    Lượt chơi
                                </div>
                                <div class="profile-statistic__Value">30k</div>
                            </div>
                        </div>
                        <div class="user-profile-statistics">
                            <div class="profile-statistic__Wrapper">
                                <div class="profile-statistic__Title">
                                    Người chơi
                                </div>
                                <div class="profile-statistic__Value">10k</div>
                            </div>
                        </div>
                        <div class="styles__ButtonsWrapper">
                            <button class="btn">Theo dõi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="verified-profile-section__Container">
            <div class="verified-profile-section__Tabs">
                <div class="verified-profile-section__TabsWrapper">
                    <a href="@Url.Action("ProfilePage","Profile",new{id = Guid.NewGuid()})" class="verified-user-profile__eduquizs-tab-link">Nội dung</a>
                    <a href="@Url.Action("ProfilePageAbout","Profile",new{id = Guid.NewGuid()})" class="verified-user-profile__eduquizs-tab-link active">Giới thiệu</a>
                    <a href="#" class="verified-user-profile__eduquizs-tab-link">Cộng đồng</a>
                </div>
            </div>
        </div>
    </div>
    <div class="verified-profile-section-container">
        <div class="about-tab__DescriptionSection">
            <section class="user-profile-section">
                <div class="user-profile-section__Title  text-left">Mô tả</div>
                <div>Chào mừng đến với trang của tôi! Tôi là một nhà giáo dục giàu kinh nghiệm đã dạy từ lớp K-8. Tôi đam mê tạo ra các bài học dễ sử dụng, phù hợp với cốt lõi chung. Điều đó có nghĩa là các bài học được tạo ra cụ thể theo các tiêu chuẩn cụ thể của từng lớp mà học sinh của bạn cần biết! Dễ dàng xem những gì cần thực hành hoặc học với các kế hoạch bài học rõ ràng của tôi! Hãy chắc chắn rằng bạn đã xem tất cả các mục thú vị trên trang của tôi. Cảm ơn bạn!</div>
            </section>
        </div>
        <div class="about-tab__ExternalLinksSection">
            <section class="user-profile-section">
                <div class="user-profile-section__Title  text-left">Các kênh khác</div>
                <div class="user-profile-social-platform-links">
                    <a href="">
                        <img  src="/src/img/icon-zalo.png"/>
                    </a>
                    <a href="">
                        <img src="/src/img/icon-facebook.png" />
                    </a>
                    <a href="">
                        <img src="/src/img/icon-youtube.png" />
                    </a>
                    <a href="">
                        <img src="/src/img/icon-instagram.png" />
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
