@{
    Layout = "_LayoutJoinGame";
    ViewBag.Title = "Nhập mã PIN trò chơi!";
}
<div class="vertical-alignment__VerticalAlignment">
    <main class="vertical-alignment__VerticalAlignmentCenter">
        <div class="game-id__FormWrapper">
            <div class="game-logo__LogoArea">
                <div class="game-logo__GameLogoImg"></div>
            </div>
            <form action="#" class="enter-pin-form__Form">
                <input class="enter-pin-form__GameInput" placeholder="Nhập tên" />
                <button type="submit" class="button__Button bg-dark">Đồng ý, Bắt đầu ngay !</button>
            </form>
        </div>
    </main>
</div>
