@{
    @using System.Web
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
    var slug = currentPath.Split("/")[currentPath.Split("/").Length - 1];
}
<ul class="list__List-Tabs" style="border-radius: 0.2rem 0.2rem 0px 0px;border: 1px solid rgb(204, 204, 204);background-color: #fff;width: 100%;">
    <li class="item__ListItem">
        <button onclick="RedirectSubPlayer(1)" class="tab__Tab @(currentPath.Contains("/player/all") ? " subactive" : "" )"><span class="tabs__Label">Tất cả</span></button>
    </li>
    <li class="item__ListItem">
        <button onclick="RedirectSubPlayer(2)" class="tab__Tab @(currentPath.Contains("/player/belowavg") ? " subactive" : "" )"><span class="tabs__Label">Dưới trung bình</span></button>
    </li>
    <li class="item__ListItem">
        <button onclick="RedirectSubPlayer(3)" class="tab__Tab @(currentPath.Contains("/player/unfinish") ? " subactive" : "" )"><span class="tabs__Label">Chưa hoàn thành</span></button>
    </li>
</ul>
<script>
    function RedirectSubPlayer(type) {
        switch (type) {
            case 1: location.href = `/reports/detail/player/all/@slug`;
                break;
            case 2: location.href = `/reports/detail/player/belowavg/@slug`;
                break;
            case 3: location.href = `/reports/detail/player/unfinish/@slug`;
                break;
            default:
                location.href = `/reports/detail/player/all/@slug`;
        }
    }
</script>