<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
    <div dir="ltr">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="100%" cellspacing="0" cellpadding="0" align="center" style="background-color:transparent;background-image:url(https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/bg-email.png?alt=media&token=f00ab0af-934e-4c4d-a92c-215646cea633);background-repeat:repeat;background-position:center top;border-radius:20px">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="600" align="center" valign="top" style="width:600px;">
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" height="30">
                                                                        <img src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/logotext.png?alt=media&token=d6d0587f-ef46-4d4f-9e04-4c5c74b7764e"/>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="600" align="center" valign="top">
                                                        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff" style="background-color:#ffffff;margin-bottom:20px">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <img width="200" style="min-width:50%" src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/mail-header.png?alt=media&token=927d301c-9c9e-4d04-9769-68429578925f" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="font-family:'Montserrat',Arial,Open Sans,Helvetica,sans-serif;">
                                                                        <h1>
                                                                            Xin chào,<br><span>{username}</span>
                                                                        </h1>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="height:1px;line-height:1px;padding:2px 0px 2px 0px;background: #1b63af;">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding:20px 30px;font-family: Montserrat, Arial, 'Open Sans', Helvetica, sans-serif;">
                                                                        <p>
                                                                            {msgtitle}
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding:20px 30px;font-family: Montserrat, Arial, 'Open Sans', Helvetica, sans-serif;">
                                                                        <p>
                                                                            Bạn có thể tìm thấy nó trong mục <strong>'{groupname}'</strong> của mình trong <strong>'{type}'</strong> hoặc nhấp vào liên kết bên dưới nếu bạn đã sẵn sàng!
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding:20px 30px;font-family: Montserrat, Arial, 'Open Sans', Helvetica, sans-serif;">
                                                                        <div style="max-width:100%">
                                                                            <table cellpadding="0" cellspacing="0" border="0" style="width:auto!important;background-color:#298f0d;border-radius:5px">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="font-family:Montserrat,Arial,'Open Sans',Helvetica,sans-serif;font-size:12pt;text-decoration:none;font-weight:bold;line-height:1.5;color:#2c3e50;padding:8px 35px 8px 35px">
                                                                                            <div><a style="font-family:'Montserrat',Arial,Open Sans,Helvetica,sans-serif;font-size:15pt;text-decoration:none;font-weight:bold;line-height:1.5;color:#ffffff" href="{redirecturl}" target="_blank">Đi đến liên kết</a></div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="font-size:0px;padding-top:10px;">
                                                                        <div style="max-width:100%">
                                                                            <img src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/mail-body.png?alt=media&token=03e76716-48c4-44dd-933a-285d4966b6f8" alt="" style="display:block">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="center" style="font-family:'Montserrat',Arial,Open Sans,Helvetica,sans-serif;padding-top:30px">
                                                                        <h1>
                                                                            Theo dõi chúng tôi
                                                                        </h1>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="font-size:0;padding-bottom:20px">
                                                                        <table cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" valign="top" style="padding-top:4px">
                                                                                         <a target="_blank" href="#">
                                                                                             <img width="46" title="Facebook" src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/icon-facebook.png?alt=media&token=74767c2f-0967-4f08-9362-4eedbba430d7" alt="Fb" height="46">
                                                                                         </a>
                                                                                     </td>

                                                                                     <td align="center" valign="top" style="padding:4px 0 0 6px">
                                                                                         <a target="_blank" href="#">
                                                                                             <img width="48" title="Youtube" src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/icon-youtube.png?alt=media&token=851a83d6-f905-44b0-9502-18ae85c6b86c" alt="Yt" height="48">
                                                                                         </a>
                                                                                     </td>
                                                                                     <td align="center" valign="top" style="padding:5px 0 0 10px">
                                                                                         <a target="_blank" href="#">
                                                                                             <img style="border-radius:50%" width="48" title="ZaLo" src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/icon-zalo.png?alt=media&token=99002af0-1948-4128-8c74-032f3e5650ed" alt="Zl" height="44">
                                                                                         </a>
                                                                                     </td>
                                                                                     <td align="center" valign="top" style="padding:8px 0 0 10px">
                                                                                         <a target="_blank" href="{domain}/home">
                                                                                             <img style="border-radius:50%" width="38" title="EduQuiz" src="https://firebasestorage.googleapis.com/v0/b/eduquiz-d2936.appspot.com/o/favicon.ico?alt=media&token=192940c1-be19-4887-90e0-575d46aff487" alt="Ed" height="38">
                                                                                         </a>
                                                                                     </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>