@{
    ViewBag.Title = "Tạo EduQuiz";
    Layout = "_LayoutCreator";
    @using Newtonsoft.Json
    @model EduQuiz.Models.EduQuizData
}

<div class="menu_chooseQuiz">
</div>
<div id="overlay-question" class="overlay__wrapper d-none">
</div>
<div class="menu-Slide__Wrapper d-none">
    <div class="popover__Content">
        <div class="tab__TabPanel">
            <div class="tab__TabList">
                <button type="button" class="tab__TabList-button active">
                    <span><i style="font-size:18px;margin-right:4px" class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="font-size:16px;font-weight:600">Thêm</span>
                </button>
                <button id="open-support-ai" style="border-left:1px solid rgb(204, 204, 204);background-color: rgb(242, 242, 242);" type="button" class="tab__TabList-button">
                    <div style="background-color:#028282;padding:3px 3px;border-radius:50%;margin-right:8px;">
                        <i style="color:#fff" class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <span style="font-size:16px;font-weight:600">Hỗ trợ bởi AI</span>
                </button>
                <button style="background-color: rgb(242, 242, 242);" type="button" class="tab__TabList-button">
                </button>
            </div>
            <div class="tab__TabContentHolder">
                <div class="create-block__QuestionsWrapper">
                    <div class="create-block__QuestionBlocksWrapper">
                        <section class="create-block__Section">
                            <h2 class="create-block__SectionTitle">Kiểm tra kiến thức</h2>
                            <div class="create-block__ActiveBlocks">
                                <button type="button" class="create-button__CreateButton" data-example="quiz">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-quiz.png" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Đố vui</span>
                                    </div>
                                </button>
                                <button type="button" class="create-button__CreateButton" data-example="true_false">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-true_false.png" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Đúng hoặc sai</span>
                                    </div>
                                </button>
                                <button type="button" class="create-button__CreateButton" data-example="input_answer">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-type-quiz.png" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Nhập câu trả lời</span>
                                    </div>
                                    <div class="icon__Upgrade" style="top:10px">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </button>
                            </div>
                        </section>
                    </div>
                    <aside class="create-block__QuestionBlockDetailsPanel">
                        <h2 class="create-block__SectionTitle">Ví dụ</h2>
                        <div class="style__Backgrounds">
                            <figure>
                                <div class="shared-components__ExampleTitle">
                                    <span id="example-question">Con vật nào sau đây biết bay?</span>
                                </div>
                                <div class="shared-components__ExampleImage">
                                    <div class="shared-components__ExampleImage_wrapper">
                                        <i style="font-size:20px" class="fa fa-picture-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div id="example-answers" class="styles__CardWrapper-Example">
                                    <div class="example-cards">Cá</div>
                                    <div class="example-cards">Chim</div>
                                    <div class="example-cards">Rùa</div>
                                    <div class="example-cards">Hổ</div>
                                </div>
                            </figure>
                        </div>
                        <div class="styles__GameBlockInfo">
                            <h3 id="game-block-title" class="styles__GameBlockTitle">Đố vui</h3>
                            <div id="game-block-description" class="styles__GameBlockDescription">Cung cấp cho người chơi nhiều câu trả lời để lựa chọn.</div>
                        </div>
                        <button class="btn-import">
                            <span class="icon__Icon">
                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M10.293,11.307 L11.707,12.721 L15,9.428 L15,20.014 L17,20.014 L17,9.428 L20.293,12.721 L21.707,11.307 L16,5.6 L10.293,11.307 Z M22,22 L22,24 L10,24 L10,22 L8,22 L8,24 C8,25.102 8.896,26 10,26 L22,26 C23.104,26 24,25.102 24,24 L24,22 L22,22 Z" style="fill: rgb(19, 104, 206);"></path></svg>
                            </span>
                            <span>Nhập dữ liệu câu hỏi</span>
                        </button>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Suport with AI Quiz-->
<div class="modal" id="modalSuportWithAI" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:960px;max-height:666px;margin-top:100px">
        <div class="modal-content" style="width:960px;height:666px">
            <div class="modal-header" style="border:none; border-bottom:1px solid rgb(233, 233, 233)">
                <h3 class="modal-title">Tạo câu hỏi với AI</h3>
            </div>
            <div class="modal-body">
                <div class="generate-eduquiz-result-screen">
                    <div class="left-section">
                       <form id="ask-ai" class="ai-input-block">
                           <div class="ai-input-block__Title">Chủ đề</div>
                           <div class="ai-input-block__InputSection">
                                <div class="query-input__InputContainer">
                                    <input id="topic-ask" class="query-input__Input" placeholder="Chủ đề của bạn là gì?" maxlength="60" />
                                </div>
                                <button id="btn-ask-ai" type="button" class="button-flat" style="background-color:#028282;line-height:40px;min-height:40px;height:40px;">
                                    <div style="padding:3px 3px;border-radius:50%;margin-right:8px;display:flex;background-color:#fff">
                                        <i style="color:#028282" class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span>Tạo ngay</span>
                                </button>
                           </div>
                       </form>
                       <div class="generate-eduquiz__ContentContainer">
                           <div class="generate-eduquiz__ResultContent">
                                <div class="container-result__Scroll">
                                   
                                </div>
                           </div>
                       </div>
                    </div>
                    <div class="right-section">
                        <div class="format-quiz__Wrapper">
                            <div class="option-quiz">
                                <img src="/src/img/logo-quiz.png" class="option-quiz__Image" />
                            </div>
                            <div class="quiz-option__Content">
                                <p class="format-option__Title">Định dạng</p>
                                <h5 class="format-option__Label">Câu đố</h5>
                            </div>
                        </div>
                        <div class="generate-side-bar__Settings">
                            <div class="form-group">
                                <label>Ngôn ngữ</label>
                                <select id="language-ask" class="form-control">
                                    <option value="vi" selected>Tiếng Việt</option>
                                    <option value="en">Tiếng Anh</option>
                                    <option value="zh">Tiếng Trung</option>
                                    <option value="ja">Tiếng Nhật</option>
                                    <option value="fr">Tiếng Pháp</option>
                                    <option value="ru">Tiếng Nga</option>
                                </select>
                            </div>
                        </div>
                        <footer class="generation-footer">
                            <button id="add-allquestion" disabled class="generation-footer-btn">Thêm tất cả (0)</button>
                            <button class="generation-footer-btn" data-dismiss="modal">Hủy</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Title Quiz-->
<div class="modal bd-example-modal-lg" id="modalQuizSetting" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Cài đặt EduQuiz</h3>
            </div>
            <div class="modal-body custom-hiden">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Tiêu đề</label>
                            <input id="eduquizTitle" type="text" class="form-control" placeholder="Nhập tiêu đề EduQuiz" value="">
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Mô tả (Tùy chọn)</label>
                            <textarea id="eduquizDescription" rows="5"></textarea>
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Nhạc sảnh</label>
                            <div id="menumusic-wrapper" class="styles__Label-container">
                                <div id="choosemusic" data-music="1" class="select-control">
                                    <div class="select-control__container">
                                        <div class="select-control-left">
                                            <div class="position-relative">
                                                <div class="SingleValueWrapper" style="margin:0;">
                                                    <label style="margin:0">EduQuiz Music! Pick</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="input-music" class="SingleInputWrapper" />
                                    </div>
                                    <div class="select-control-right">
                                        <div class="SingleIconWrapper">
                                            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Ảnh bìa</label>
                            <div class="LayoutImageWrapper" style="height:150px;border: 1px solid #ccc;border-radius:3px">
                                <img style="position:unset !important" id="btn-ImgEduQuiz" class="image-with-effect" src="/src/img/EduQuizDefault.png" />
                                <input id="imgEduQuiz" class="d-none" type="file" accept="image/*" />
                            </div>
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Hiển thị</label>
                            <div class="styles__Field-RadioWrapper">
                                <div class="radio-item"><input name="radio" id="radio1" type="radio"><label for="radio1">Riêng tư</label></div>
                                <div class="radio-item"><input name="radio" checked id="radio2" type="radio"><label for="radio2">Công khai</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button id="closeSetting" type="button" class="btn" data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button type="button" class="btn " style="background-color:rgb(38, 137, 12)" onclick="saveSettingEduQuiz();">Xong</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Import Quiz-->
<div class="modal" id="modalImportEduQuiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Nhập EduQuiz từ file .xlsx</h3>
            </div>
            <div class="modal-body">
                <div class="view-wrapper__modal">
                    <div>
                        <ol>
                            <li class="instruction__item">
                                <button id="template">Tải xuống mẫu của chúng tôi!</button>
                            </li>
                            <li class="instruction__item">
                                <span>Điền thông tin và lưu dưới dạng .xlsx</span>
                            </li>
                            <li class="instruction__item">
                                <span>Chọn lại tập tin đó!</span>
                            </li>
                        </ol>
                        <div class="instruction__separator">
                            <span>Hoặc</span>
                        </div>
                        <div class="instruction__buttonwrapper">
                            <input id="file-import" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden />
                            <button id="choose-file" class="button-flat">Chọn tập tin</button>
                        </div>
                        <div class="instruction__buttonwrapper" style="margin-top:1rem">
                            <span>Kích thước tối đa: <strong>1 MB</strong></span>
                        </div>
                    </div>
                </div>
                <div class="selected-file">
                    <span class="selected-file__Name">Chưa chọn file</span>
                    <span class="selected-file__Size"></span>
                    <span class="selected-file__Icon">
                        <button id="remove-file" class="d-none">
                            <span class="icon__Icon">
                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M24.714 8.414L23.3 7 16.007 14.293 8.714 7 7.3 8.414 14.593 15.707 7.3 23 8.714 24.414 16.007 17.122 23.3 24.414 24.714 23 17.421 15.707z" style="fill: rgb(0, 0, 0);"></path></svg>
                            </span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button type="button" class="btn " data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button id="btn-submitimport" disabled type="button" class="btn " style="background-color:rgb(38, 137, 12)">Tải lên</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Loading Import Success-->
<div class="modal" id="modalInfoSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:415px;height:430px">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Thành công</h3>
            </div>
            <div class="modal-body">
                <div class="view-wrapper__modalsuccess">
                    <div>
                        Chúng tôi đã nhập thành công các câu hỏi từ file .xlsx của bạn. Bây giờ bạn có thể thêm chúng vào EduQuiz của mình.
                    </div>
                    <div class="upload-success">
                        <div class="upload-success__Icon">
                            <span class="icon__Icon" style="width:100px;height:100px">
                                <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-hidden="true"><title>Icon</title><path d="M12.926 22.652L8 17.725 9.767 15.957 12.841 19.031 21.959 9 23.808 10.682z" style="fill: rgb(255, 255, 255);"></path></svg>
                            </span>
                        </div>
                    </div>
                    <div id="count-question" class="instruction__buttonwrapper" style="font-weight:bold;margin-top:1rem;font-size:1rem"></div>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button type="button" class="btn " data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button id="btn-addQuestion" type="button" class="btn " style="background-color:rgb(38, 137, 12)">Thêm câu hỏi</button>
            </div>
        </div>
    </div>
</div>
<script>
    var viewData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Data))
    var dataquizedit = @Html.Raw(JsonConvert.SerializeObject(Model))
    // console.log(dataquizedit);
    // Truy cập các thuộc tính từ đối tượng JSON
    var quizId = viewData.quizId;
    var userId = viewData.userId;
    var userSubscriptionType = viewData.subscriptionType;

</script>