@{
    ViewBag.Title = "Tạo EduQuiz";
    Layout = "_LayoutCreator";
    @using Newtonsoft.Json
    @model EduQuiz.Models.EduQuizData
}

<div class="menu_chooseQuiz">
</div>
<div id="overlay-question" class="overlay__wrapper d-none">
</div>
<div class="menu-Slide__Wrapper d-none">
    <div class="popover__Content">
        <div class="tab__TabPanel">
            <div class="tab__TabList">
                <button type="button" class="tab__TabList-button active">
                    <span><i style="font-size:18px;margin-right:4px" class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="font-size:16px;font-weight:600">Thêm</span>
                </button>
                <button style="border-left:1px solid rgb(204, 204, 204);background-color: rgb(242, 242, 242);" type="button" class="tab__TabList-button">
                </button>
                <button style="background-color: rgb(242, 242, 242);" type="button" class="tab__TabList-button">
                </button>
            </div>
            <div class="tab__TabContentHolder">
                <div class="create-block__QuestionsWrapper">
                    <div class="create-block__QuestionBlocksWrapper">
                        <section class="create-block__Section">
                            <h2 class="create-block__SectionTitle">Kiểm tra kiến thức</h2>
                            <div class="create-block__ActiveBlocks">
                                <button type="button" class="create-button__CreateButton" data-example="quiz">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-quiz.jpg" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Đố vui</span>
                                    </div>
                                </button>
                                <button type="button" class="create-button__CreateButton" data-example="true_false">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-true_false.jpg" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Đúng hoặc sai</span>
                                    </div>
                                </button>
                                <button type="button" class="create-button__CreateButton" data-example="input_answer">
                                    <div class="create-button__ImgWrapper">
                                        <img src="~/src/img/logo-type-quiz.jpg" />
                                    </div>
                                    <div class="create-button__TextGroup">
                                        <span>Nhập câu trả lời</span>
                                    </div>
                                    <div class="icon__Upgrade" style="top:10px">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </button>
                            </div>
                        </section>
                    </div>
                    <aside class="create-block__QuestionBlockDetailsPanel">
                        <h2 class="create-block__SectionTitle">Ví dụ</h2>
                        <div class="style__Backgrounds">
                            <figure>
                                <div class="shared-components__ExampleTitle">
                                    <span id="example-question">Con vật nào sau đây biết bay?</span>
                                </div>
                                <div class="shared-components__ExampleImage">
                                    <div class="shared-components__ExampleImage_wrapper">
                                        <i style="font-size:20px" class="fa fa-picture-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div id="example-answers" class="styles__CardWrapper-Example">
                                    <div class="example-cards">Cá</div>
                                    <div class="example-cards">Chim</div>
                                    <div class="example-cards">Rùa</div>
                                    <div class="example-cards">Hổ</div>
                                </div>
                            </figure>
                        </div>
                        <div class="styles__GameBlockInfo">
                            <h3 id="game-block-title" class="styles__GameBlockTitle">Đố vui</h3>
                            <div id="game-block-description" class="styles__GameBlockDescription">Cung cấp cho người chơi nhiều câu trả lời để lựa chọn.</div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Title Quiz-->
<div class="modal bd-example-modal-lg" id="modalQuizSetting" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none">
                <h3 class="modal-title">Cài đặt EduQuiz</h3>
            </div>
            <div class="modal-body custom-hiden">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Tiêu đề</label>
                            <input id="eduquizTitle" type="text" class="form-control" placeholder="Nhập tiêu đề EduQuiz" value="">
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Mô tả (Tùy chọn)</label>
                            <textarea id="eduquizDescription" rows="5"></textarea>
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Nhạc sảnh</label>
                            <div id="menumusic-wrapper" class="styles__Label-container">
                                <div id="choosemusic" data-music="1" class="select-control">
                                    <div class="select-control__container">
                                        <div class="select-control-left">
                                            <div class="position-relative">
                                                <div class="SingleValueWrapper" style="margin:0;">
                                                    <label style="margin:0">EduQuiz Music! Pick</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="input-music" class="SingleInputWrapper" />
                                    </div>
                                    <div class="select-control-right">
                                        <div class="SingleIconWrapper">
                                            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Ảnh bìa</label>
                            <div class="LayoutImageWrapper" style="max-height:150px;border: 1px solid #ccc;border-radius:3px">
                                <img style="position:unset" id="btn-ImgEduQuiz" class="image-with-effect" src="~/src/img/market.jpg" />
                                <input id="imgEduQuiz" class="d-none" type="file" accept="image/*" />
                            </div>
                        </div>
                        <div class="styles_block-Field">
                            <label class="styles__title-setting">Hiển thị</label>
                            <div class="styles__Field-RadioWrapper">
                                <div class="radio-item"><input name="radio" id="radio1" type="radio"><label for="radio1">Riêng tư</label></div>
                                <div class="radio-item"><input name="radio" checked id="radio2" type="radio"><label for="radio2">Công khai</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:none;justify-content:center">
                <button id="closeInterest" type="button" class="btn" data-dismiss="modal" style="background-color:rgb(226, 27, 60)">Hủy bỏ</button>
                <button id="saveInterest" type="button" class="btn " style="background-color:rgb(38, 137, 12)" onclick="saveSettingEduQuiz();">Xong</button>
            </div>
        </div>
    </div>
</div>
<script>
    var viewData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Data));
    var dataquizedit = @Html.Raw(JsonConvert.SerializeObject(Model));
    // console.log(dataquizedit);
    // Truy cập các thuộc tính từ đối tượng JSON
    var quizId = viewData.quizId;
    var userId = viewData.userId;
</script>