
@{
    Layout = "_LayoutAdmin";
}

<div id="elfinder"></div>

<script type="text/javascript">
    var fileselect = null;
    // Documentation for client options:
    // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
    $(document).ready(function () {
        var myCommands = elFinder.prototype._options.commands;
        var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'help'];
        elFinder.prototype.i18.en.messages.TextArea = "Edit";
        elFinder.prototype.i18.en.messages.errNewNameSelection = 'Unable to create new file with name "$1"';

        $.each(disabled, function (i, cmd) {
            (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
        });

        var options = {
            baseUrl: '/lib/elfinder/',
            url: '/el-finder-file-system/connector', 
            rememberLastDir: false, 
            commands: myCommands,
            uiOptions: { 
            toolbar: [
                    ['back', 'forward'],
                    ['reload'],
                    ['home', 'up'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download'],
                    ['undo', 'redo'],
                    ['info'],
                    ['quicklook'],
                    ['copy', 'cut', 'paste'],
                    ['rm'],
                    ['duplicate', 'rename', 'edit'],
                    ['selectall', 'selectnone', 'selectinvert'],
                    ['view', 'sort'],
                    ['search']
                ]
            }
            ,lang: 'vi',
            getFileCallback: function (file) {
                var fileUrl = file.url.replace(/^.*\/\/[^\/]+/, '');;

                console.log('File URL:', fileUrl);

                fileselect = fileUrl;
            }
        };
        $('#elfinder').elfinder(options).elfinder('instance');
    });
</script>
