@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    @using Newtonsoft.Json;
    var userInfoJson = HttpContextAccessor.HttpContext.Session.GetString("_USERCURRENT");
    var userInfo = JsonConvert.DeserializeObject<dynamic>(userInfoJson);
    // Truy cập các thuộc tính
    var email = userInfo.Email;
    var username = userInfo.Username;
    var avatar = userInfo.Avatar;
}
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li style="padding-left:16px" class="nav-item d-flex align-items-center">
                    <a href="#" class="d-flex align-items-center mr-2 upgrade">
                        <div style="background-color:#028282;padding:2px 7px;border-radius:50%;margin-right:8px;">
                            <i style="color:#fff" class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <span>Nâng cấp</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-main" href="#" id="navbarDropdownCreate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tạo Ngay</a>
                    <div class="dropdown-menu dropdown-menu-right wrapper-content_menu" aria-labelledby="navbarDropdownCreate" style="border-radius:4px">
                        <div class="px-4">
                            <ul class="nav-create_wrapper">
                                <li class="nav-create_wrapper-item">
                                    <a class="action-link" href="#">
                                        <img src="~/src/img/createquiz.svg"/>
                                        <div class="nav-create_wrapper-content">
                                            <span style="font-weight:bold;color:#333333">EduQuiz</span>
                                            <span style="font-size: 0.75rem;line-height: 1rem;font-weight: 500;color: rgb(110, 110, 110);">Bài học tương tác ngắn với các cuộc thăm dò và câu đố</span>
                                        </div>
                                        <i class="fa fa-chevron-right icon-create" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-create_wrapper-item">
                                    <a class="action-link" href="#">
                                        <img src="~/src/img/add-group.png" />
                                        <div class="nav-create_wrapper-content">
                                            <span style="font-weight:bold;color:#333333">Nhóm học</span>
                                            <span style="font-size: 0.75rem;line-height: 1rem;font-weight: 500;color: rgb(110, 110, 110);margin-right:16px">Trong Nhóm, bạn có thể giao tiếp, chia sẻ nội dung, vui chơi với nhóm của mình.</span>
                                        </div>
                                        <i class="fa fa-chevron-right icon-create" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-magnify" href="#" id="navbarDropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-bell-55" aria-hidden="true"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Thông báo</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right wrapper-content_menu" aria-labelledby="navbarDropdownNotification">
                       <h3 class="title">Thông báo</h3>
                       <div class="no-notifications">
                           <img src="~/src/img/nonotifi.png"/>
                           <span>Không có thông báo nào cả!</span>
                       </div>
                    </div>
                </li>
                <li class="nav-item btn-rotate dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-settings-gear-65"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Thao tác</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <span class="dropdown-item"> <img src="@(avatar)" style="width:16px;height:16px;margin-right:8px;border-radius:50%" />@username</span>
                        <a class="dropdown-item" href="@Url.Action("SettingInfo","HomeDashboard")">Cài đặt thông tin</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
<script>
    document.querySelectorAll('.wrapper-notification').forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.stopPropagation(); 
        });
    });
</script>