@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
}

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="@Url.Action("Index","HomeDashboard")" class="simple-text logo-normal">
            <div class="logo-image-big">
                <img style="width:130px;height:45px;" src="~/src/img/logomain.png">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="@(currentPath.StartsWith("/HomeDashboard") && (currentPath == "/HomeDashboard" || currentPath.Contains("/HomeDashboard/Index")) ? "active" : "")">
                <a href="@Url.Action("Index","HomeDashboard")">
                    <i class="nc-icon nc-bank"></i>
                    <p>Trang chủ</p>
                </a>
            </li>
            <li>
                <a href="./icons.html">
                    <i class="nc-icon nc-compass-05"></i>
                    <p>Khám phá</p>
                </a>
            </li>
            <li>
                <a href="./map.html">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Thư viện</p>
                </a>
            </li>
            <li>
                <a href="./map.html">
                    <i class="nc-icon nc-circle-10"></i>
                    <p>Nhóm</p>
                </a>
            </li>
            
            <li>
                <a href="./notifications.html">
                    <i class="nc-icon nc-chart-bar-32"></i>
                    <p>Báo cáo</p>
                </a>
            </li>
        </ul>
    </div>
</div>