@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Chọn ngày sinh";
    Layout = "_LayoutAuth";
}

<h1 class="wrapper-title">
    Nhập ngày sinh của bạn
</h1>
<form class="form-card birthday-form">
    <div class="birthday-wrapper">
        <div class="select-date">
            <label class="label-title" for="date">Ngày</label>
            <div class="select-container">
                <select id="date" class="select-input">
                </select>
                <div class="select-icon">
                    <span class="icon-down">
                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-664d40cf-1a4b-4201-8036-eb4676189cdc" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE"><title id="label-664d40cf-1a4b-4201-8036-eb4676189cdc">Icône</title><path d="M16 19L12 13 20 13z" style="fill: rgb(0, 0, 0);"></path></svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="select-month">
            <label class="label-title" for="month">Tháng</label>
            <div class="select-container">
                <select id="month" class="select-input">
                </select>
                <div class="select-icon">
                    <span class="icon-down">
                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-664d40cf-1a4b-4201-8036-eb4676189cdc" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE"><title id="label-664d40cf-1a4b-4201-8036-eb4676189cdc">Icône</title><path d="M16 19L12 13 20 13z" style="fill: rgb(0, 0, 0);"></path></svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="select-year">
            <label class="label-title" for="year">Năm</label>
            <div class="select-container">
                <select id="year" class="select-input">
                </select>
                <div class="select-icon">
                    <span class="icon-down">
                        <svg viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0" aria-labelledby="label-664d40cf-1a4b-4201-8036-eb4676189cdc" aria-hidden="true" class="icon__Svg-sc-xvsbpg-1 ipIYNE"><title id="label-664d40cf-1a4b-4201-8036-eb4676189cdc">Icône</title><path d="M16 19L12 13 20 13z" style="fill: rgb(0, 0, 0);"></path></svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="birthday-form-submit">
        <button type="button" id="submitbirthday" disabled class="btn">
            Tiếp tục
        </button>
    </div>
</form>
@section scripts {
    <script>
        $(document).ready(function () {
            checkDateSelection();

            // Placeholder options for date, month, and year
            $('.select-date .select-input').append('<option value="" disabled selected>Chọn ngày...</option>');
            $('.select-month .select-input').append('<option value="" disabled selected>Chọn tháng...</option>');
            $('.select-year .select-input').append('<option value="" disabled selected>Chọn năm...</option>');

            // Populate days (1-31)
            for (var day = 1; day <= 31; day++) {
                $('.select-date .select-input').append(`<option value="${day}">${day}</option>`);
            }

            // Populate months (1-12)
            for (var month = 1; month <= 12; month++) {
                $('.select-month .select-input').append(`<option value="${month}">${month}</option>`);
            }

            // Populate years (currentYear to currentYear - 100)
            var currentYear = new Date().getFullYear();
            for (var year = currentYear; year >= currentYear - 100; year--) {
                $('.select-year .select-input').append(`<option value="${year}">${year}</option>`);
            }

            // Validate the selected date
            function isValidDate(day, month, year) {
                const date = new Date(year, month - 1, day);
                return date.getFullYear() == year && date.getMonth() == month - 1 && date.getDate() == day;
            }

            // Check if the selected date is in the future
            function isFutureDate(day, month, year) {
                const today = new Date();
                const selectedDate = new Date(year, month - 1, day);
                return selectedDate > today;
            }

            // Check the state of the select inputs
            function checkDateSelection() {
                const day = $('#date').val();
                const month = $('#month').val();
                const year = $('#year').val();
                const isDisabled = !day || !month || !year;

                // Toggle disable state of the button
                $('.btn').prop('disabled', isDisabled);
            }

            // Event listener for changes in select inputs
            $('#date, #month, #year').change(checkDateSelection);

            $('#submitbirthday').click(function () {
                const day = $('#date').val();
                const month = $('#month').val();
                const year = $('#year').val();

                if (day && month && year && isValidDate(day, month, year)) {
                    if (isFutureDate(day, month, year)) {
                        openToast('warning', 'Lỗi', 'Ngày sinh không được lớn hơn ngày hiện tại!', 2000);
                    } else {
                        const birthday = new Date(year, month - 1, day);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveBirthday","Account")',
                            data: { value: birthday },
                            success: function (response) {
                                if (response.status) {
                                    location.href = "@Url.Action("UserName", "Account")";
                                } else {
                                    openToast('warning', 'Lỗi', 'Đã xảy ra lỗi. Vui lòng thử lại!', 2000);
                                }
                            },
                            error: function () {
                                openToast('warning', 'Lỗi', 'Đã xảy ra lỗi. Vui lòng thử lại!', 2000);
                            }
                        });  
                    }
                } else {
                    openToast('warning', 'Lỗi', 'Vui lòng chọn đầy đủ ngày, tháng, năm!', 2000);
                }
            });
        });
    </script>
}
