@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "_LayoutAuth";
}
<div class="form-style__wrapper">
    <h1 class="wrapper-title">
        Đăng nhập
    </h1>
    <div class="cardform-auth">
        <section class="cardform-auth__content">
            <div class="signup-wrapper">
                <h2 class="signin-title">Đăng ký với Email của bạn</h2>
            </div>
            <form id="signinform" class="style-email__form">
                <label style="font-weight:600">Email</label>
                <div class="email-signin">
                    <input id="email" class="input-field" type="email" placeholder="Email của bạn" required value="pingvocuc333@gmail.com"/>
                </div>
                <label style="font-weight:600">Mật khẩu</label>
                <div class="pass-signin">
                    <input id="pass" class="input-field" type="password" placeholder="Nhập mật khẩu" autocomplete="on" value="qqq123"/>
                    <div class="style-pass">
                        <button type="button" class="btn-checkpass">
                            <i class="fa fa-eye icon-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <p class="forgetpass">Quên mật khẩu <a style="text-decoration:underline;color:rgb(19, 104, 206)" href="">Đặt lại mật khẩu</a></p>
                <div class="mt-3">
                    <button id="submitsignin" disabled type="button" class="btn justify-content-center w-100" style="background:rgb(38, 137, 12)">Đăng nhập</button>
                </div>
            </form>
            <div class="card-wrapper">
                <div class="divider">
                    <hr class="divider-line" />
                    <span class="divider-text">Hoặc</span>
                </div>
                <button id="loginWithGoogle" type="button" class="btn-social mt-4">
                    <svg class="mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px" height="24px"><path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z" /><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z" /><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z" /><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z" /></svg>
                    <div class="title-social">
                        Đăng nhập với Google
                    </div>
                </button>
                <p class="mt-3 text-center">Bạn chưa có tài khoản? <a style="text-decoration:underline;color:rgb(19, 104, 206)" href="@Url.Action("Register","Account")">Đăng ký</a></p>
            </div>
        </section>

    </div>
</div>
@section scripts {
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.5/firebase-app.js";
        import { getAuth, signInWithPopup, GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/10.12.5/firebase-auth.js";
        $(document).ready(function () {
           
            var tippyInstance = tippy('.btn-checkpass', {
                content: 'Hiển thị mật khẩu',
            });

            // Tạo một hàm để kiểm tra trạng thái của nút "Đăng nhập"
            function toggleSubmitButton() {
                const email = $(".email-signin .input-field").val();
                const password = $(".pass-signin .input-field").val();

                if (email && password) {
                    $("#submitsignin").removeAttr('disabled');
                } else {
                    $("#submitsignin").attr('disabled', 'disabled');
                }
            }

            // Bắt sự kiện click vào nút để hiển thị hoặc ẩn mật khẩu
            $(".btn-checkpass").on('click', function () {
                var passwordField = $(".pass-signin .input-field");
                var icon = $(this).find('i');

                if (passwordField.attr('type') === 'password') {
                    passwordField.attr('type', 'text');  // Hiển thị mật khẩu
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');  // Đổi icon thành eye-slash
                    tippyInstance[0].setContent('Ẩn mật khẩu'); // Đổi nội dung tooltip
                } else {
                    passwordField.attr('type', 'password');  // Ẩn mật khẩu
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');  // Đổi icon thành eye
                    tippyInstance[0].setContent('Hiển thị mật khẩu'); // Đổi nội dung tooltip
                }
            });

            // Gọi hàm kiểm tra khi người dùng nhập liệu
            $(".email-signin .input-field, .pass-signin .input-field").on('input', function () {
                toggleSubmitButton();
            });
            $("#signinform").on("submit", function (e) {
                e.preventDefault(); // Prevent the form from being submitted
            });
            
            function handleLogin() {
                var password = $("#pass").val();
                var email = $("#email").val();
                if (password === "" || email === "") {
                    openToast('warning', 'Lỗi', 'Vui lòng nhập đầy đủ thông tin', 2500);
                    return;
                }
                $(".overlayLoad").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckLogin", "Account")',
                    data: {
                        username: email,    
                        pass: password
                    },
                    success: function (response) {
                        if (response.status == true) {
                            window.location.href = `@Url.Action("Index", "HomeDashboard")`;
                            $(".overlayLoad").hide();
                        }
                        else {
                            $(".overlayLoad").hide();
                            openToast('warning', 'Lỗi', response.msg, 2500);
                        }
                    },
                    error: function (err) {

                    }
                })
            }

            //Đăng ký tài khoản
            $("#submitsignin").click(function () {
                handleLogin();
            })
            // Bắt sự kiện Enter
            $("#pass,#email").keypress(function (e) {
                if (e.which === 13) {
                    handleLogin();
                }
            });

            $("#loginWithGoogle").click(function () {
                async function loadFirebaseConfig() {
                    const response = await fetch('@Url.Action("GetFirebaseConfig", "Account")');
                    return await response.json()
                }
                loadFirebaseConfig().then(firebaseConfig => {
                    const app = initializeApp(firebaseConfig);
                    const auth = getAuth(app);
                    auth.languageCode = 'en';
                    //Login with gg
                    const provider = new GoogleAuthProvider();
                    signInWithPopup(auth, provider)
                        .then((result) => {
                            const user = result.user;
                            console.log(user)
                            $.ajax({
                                type: "POST",
                                url: '/Account/LoginWithSocial',
                                data: {
                                    fullname: user.displayName,
                                    email: user.email,
                                    avatar: user.photoURL
                                },
                                success: function (response) {
                                    if (response.status == true) {
                                        location.href = "@Url.Action("Index", "HomeDashboard")"
                                    } else {
                                        openToast('warning', 'Lỗi', response.msg, 2500);
                                    }
                                },
                                error: function (err) {
                                    commonError(err);
                                }
                            });
                        }).catch((error) => {
                            const errorCode = error.code;
                            const errorMessage = error.message;
                        });
                });
            })


        });
    </script>
}