@{
    Layout = null;

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Trang không tồn tại</title>
    <link href="~/src/css/errorpage.css" rel="stylesheet" />
</head>
<body>
    <div class="mars"></div>
    <img src="~/src/img/404.svg" class="logo-404" />
    <img src="~/src/img/meteor.svg" class="meteor" />
    <p class="title">Ôi không!!</p>
    <p class="subtitle">
        Có vẻ như bạn đã nhập sai địa chỉ URL <br /> hoặc trang này không còn tồn tại nữa.
    </p>
    <div align="center">
        <a class="btn-back" href="javascript:window.history.back();">Quay lại trang trước</a>
    </div>
    <img src="~/src/img/astronaut.svg" class="astronaut" alt="Phi hành gia" />
    <img src="~/src/img/spaceship.svg" class="spaceship" alt="Tàu vũ trụ" />
</body>
</html>