@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_LayoutPublic";
}


<!--/ End Slider Area -->

<!--/End Start schedule Area -->
<div id="fun-facts" class="fun-facts section overlay">
	
</div>
<!--/ End Fun-facts -->
<section class="portfolio section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>
						Khơi dậy niềm vui học tập
						bất cứ khi nào, bất cứ nơi đâu
					</h2>
					<img src="~/src/img/section-img.png" alt="#">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="owl-carousel portfolio-slider">
					<div class="single-pf">
						<img src="~/src/img/school7.png" alt="Bắt đầu khóa hướng dẫn">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school10.png" alt="Hướng dẫn học tập kết hợp">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school11.png" alt="EduQuiz EDU: hướng dẫn quản trị">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school8.png" alt="Tài nguyên phát triển chuyên môn của EduQuiz">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school12.png" alt="Bắt đầu khóa hướng dẫn">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school13.png" alt="Bắt đầu khóa hướng dẫn">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
					<div class="single-pf">
						<img src="~/src/img/school9.png" alt="Bắt đầu khóa hướng dẫn">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End portfolio -->
<section class="Feautes section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Làm thế nào để bắt đầu với EduQuiz! Trò chơi đố vui</h2>
					<img src="~/src/img/section-img.png" alt="#">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features">
					<div class="signle-icon">
						<i class="fa-solid fa-1 icofont"></i>
					</div>
					<h3>Đăng ký tài khoản</h3>
					<p>Tạo tài khoản nhanh chóng để bắt đầu tạo và tham gia các trò chơi đố vui.</p>
				</div>
				<!-- End Single features -->
			</div>
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features">
					<div class="signle-icon">
						<i class="fa-solid fa-2 icofont"></i>
					</div>
					<h3>Tạo và thiết lập câu hỏi đố vui</h3>
					<p>Dễ dàng tạo ra các câu hỏi thú vị và thiết lập các tùy chọn để thử thách người chơi.</p>
				</div>
				<!-- End Single features -->
			</div>
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features last">
					<div class="signle-icon">
						<i class="fa-solid fa-3 icofont"></i>
					</div>
					<h3>Tổ chức và tham giam</h3>
					<p>Chia sẻ mã trò chơi để mời bạn bè tham gia hoặc tham gia các trò chơi đố vui đã có.</p>
				</div>
				<!-- End Single features -->
			</div>
		</div>
	</div>
</section>
<!--/ End Feautes -->
<!-- Start service -->
<section class="services section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Hướng dẫn và tài nguyên cho học tập</h2>
					<img src="~/src/img/section-img.png" alt="#">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf reversed">
						<img src="~/src/img/school1.png">
						<div class="wrapcontent px-3 pt-2" style="background-color:#46178F ;">
							<h4 class="mt-2">Bắt đầu khóa hướng dẫn</h4>
							<p>Chào mừng bạn đến với trò chơi này! Bạn sẽ tạo và chơi những trò chơi học tập tuyệt vời chỉ trong thời gian ngắn - chỉ cần làm theo hướng dẫn từng bước trong hướng dẫn này.</p>
							<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
								<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf">
						<img src="~/src/img/school2.png" >
						<div class="wrapcontent px-3 pt-2" style="background-color:#26890C">

						<h4 class="mt-2">Hướng dẫn học tập kết hợp</h4>
						<p>Tìm hiểu cách EduQuiz có thể giúp bạn tạo điều kiện thuận lợi cho việc học tập kết hợp và học tập từ xa cũng như kết nối với học sinh ngay cả khi các em không ở trong lớp học. </p>
							<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
							<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
						</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf">
						<img src="~/src/img/school3.png">
						<div class="wrapcontent px-3 pt-2" style="background-color:#E21B3C">

							<h4 class=" mt-2">EduQuiz! EDU: hướng dẫn quản trị</h4>
						<p>Tìm hiểu cách thiết lập trường học, khu vực hoặc cơ sở của bạn với EduQuiz EDU và kết nối các nhà giáo dục bằng cách sử dụng giấy phép trang web.</p>
							<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
							<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
						</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf">
					<img src="~/src/img/school4.png" >
						<div class="wrapcontent px-3 pt-2" style="background-color:#fd8e04">
					<h4 class="mt-2">Tài nguyên phát triển chuyên môn của EduQuiz</h4>
					<p>Dạy giáo viên? Chúng tôi đã hỗ trợ bạn! Các nguồn tài nguyên miễn phí bao gồm các bài thuyết trình cho các buổi phát triển chuyên môn và sự kiện, cùng thông tin về phương pháp sư phạm EduQuiz </p>
							<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf">
					<img src="~/src/img/school5.png" >
						<div class="wrapcontent px-3 pt-2" style="background-color:#17528f">
					<h4 class="mt-2">Tóm tắt giải pháp EduQuiz dành cho trường học</h4>
					<p>Bản tóm tắt giải pháp này sẽ giúp bạn xác định liệu Kahoot! có phù hợp với nhu cầu của trường bạn hay không, cũng như cung cấp cho quản trị viên trường bạn...</p>
							<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
						<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
					</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<div class="single-pf">
					<img src="~/src/img/school6.png" >
						<div class="wrapcontent px-3 pt-2" style="background-color:#890c5d">
						<h4>Bản nhạc EduQuiz</h4>
							<p>Bạn muốn chơi nhạc sảnh EduQuiz? Tải xuống bản nhạc và chơi cùng ban nhạc, bạn bè hoặc lớp học nhạc của bạn! </p>
						<div class="d-flex justify-content-center mt-2" style="padding-bottom:14px">
							<a href="portfolio-details.html" class="btn">Xem hướng dẫn</a>
						</div>
						</div>
					</div>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>

